$color-font--primary: #222;
// $color-font--secondary: #515151;
// $color-font--tertiary: #a0a0a0;
// $color-font--light: #fff;

$color-bgc: #fff;
$color-bg--special: rgba(255, 0, 0, 0.8);

// $color-brand--primary: #ffc53d;
// $color-brand--secondary: #ff9a3d;

$component-shadow: #e60001 0px 0px 35px;
$component-radius: 10px;

$font-family--primary: 'Montserrat', sans-serif;
// $font-family--secondary: "Ubuntu", "Raleway", sans-serif;

// $mediaQ-tablet: 768px;
// $mediaQ-mobile-L: 425px;
// $mediaQ-mobile-M: 375px;
// $mediaQ-mobile-S: 320px;

// $font-size-standard: 18px;
// :export {
//   specialBgColor: $color-bgc--special;
// }
