//Ikony potraktowałem póki co jako osobny komponent, w przyszłości trzeba będzie się zastanowić :) - Tomek

.buttonIcon {
  float: left;
  position: relative;
  left: 30px;
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 35px;
  min-height: 35px;
}
