//Ikony potraktowałem póki co jako osobny komponent, w przyszłości trzeba będzie się zastanowić :) - Tomek

.icon {
    float: left;
    position: relative;
    left: 100px;
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 50px;
    min-height: 50px;
    &--fame {
        background-image: url("../static/assets/ui/IconHallOfFame.png");
    }
    &--rules {
        background-image: url("../static/assets/ui/IconHallOfFame.png");
    }
}