.sword {
  height: 50px;
  width: 1280px;
  margin: auto;
}
.sword-wrap {
  display: flex;
  align-items: center;
}

.sword-hilt {
  position: relative;
  width: 299px;
  height: 50px;
  display: flex;
  align-items: center;
}
.sword-hilt-image {
  width: 299px;
  position: absolute;
  z-index: -20;
  left: 20px;
}
.power-track {
  height: 26px;
  width: 900px;
  background-color: #bcbcbc;
  border-radius: 8px;
}
.power-track-light {
  width: 900px;
  height: 26px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 10px -5px 15px #ff0000, 10px 5px 15px #ff0000,
    inset 0px 5px 4px rgba(255, 0, 0, 0.25);
}

.swordAnimation {
  animation: animationName 120s;
  // animation: animationName 5s;
}

@keyframes animationName {
  100% {
    width: 0px;
  }
  0% {
    width: 900px;
  }
}
