.sword {
  height: 50px;
  width: 1280px;
  margin: auto;

  &__wrap {
    display: flex;
    align-items: center;

    &__hilt {
      position: relative;
      width: 299px;
      height: 50px;
      display: flex;
      align-items: center;

      &--image {
        width: 299px;
        position: absolute;
        z-index: -20;
        left: 20px;
      }
    }

    &__power {
      height: 26px;
      width: 900px;
      background-color: #bcbcbc;
      border-radius: 8px;

      &--light {
        width: 900px;
        height: 26px;
        background-color: white;
        border-radius: 8px;
        box-shadow: 10px -5px 15px #ff0000, 10px 5px 15px #ff0000,
          inset 0px 5px 4px rgba(255, 0, 0, 0.25);
      }

      &--animation {
        animation: animationName 120s;
      }
    }
  }
}

@keyframes animationName {
  100% {
    width: 0px;
  }
  0% {
    width: 900px;
  }
}
