.modalWindow {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.4);

  &__overlay {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    width: 60%;
    height: 80%;
    background-color: $color-bgc;
    border-radius: $component-radius;
    box-shadow: $component-shadow;
    animation-name: appearing;
    animation-duration: 0.4s;
  }
}

@keyframes appearing {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
