.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  font-family: $font-family--primary;
  font-weight: 600;
  padding: 3% 5%;

  &__gameOver {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 3rem;
    margin: 10px 0;
  }

  &__finalResults {
    font-size: 1.8rem;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 50px;
  }

  &__yodaImage {
    display: block;
    max-height: 300px;
    max-width: 500px;
    object-fit: contain;
    align-self: center;
  }

  &__rowContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin-bottom: 2%;
  }

  &__input {
    width: 80%;
    border: 3px solid #bebebe;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 1.8rem;
    font-weight: bold;
    align-self: center;
    text-align: center;
  }

  &__inputTip {
    width: 80%;
    font-size: 1.8rem;
    align-self: center;
    text-align: center;
  }

  &__submitButton {
    margin: auto;
    padding: 15px 15px;
    transform: scale(0.9);
  }
}
