.questionImage {
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: top;
  width: 400px;
  border-radius: $component-radius;
  box-shadow: $component-shadow;
}

@media (min-width: 1280px) {
  .questionImage {
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: top;
    max-width: 100%;
    max-height: 100%;
    border-radius: $component-radius;
    box-shadow: $component-shadow;
    margin: auto;
  }
}

@media (min-width: 360px) and (max-width: 414px) and (min-height: 640px) and (max-height: 896px) {
  .questionImage {
    width: 100%;
  }
}

@media (min-width: 601px) and (max-width: 1024px) {
  .questionImage {
    width: 75%;
    justify-self: center;
  }
}
