.questionImage {
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: top;
  width: 400px;
  // height: 600px;
  border-radius: $component-radius;
  box-shadow: $component-shadow;
}
