.questionImage {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  width: 400px;
  // height: 600px;
  border-radius: $component-radius;
  box-shadow: $component-shadow;
  background-color: blue;
  &__img {
  }
}
