.wrapper {
  overflow: hidden;
  display: grid;

  height: 768px;
  width: 1280px;
  margin: 10px auto;

  $padding_horizontal__wrapper: 40px;
  grid-template-columns: $padding_horizontal__wrapper 1fr $padding_horizontal__wrapper 2fr $padding_horizontal__wrapper;
  grid-template-rows: 0px 170px 25px auto 20px;

  &__logo {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
  }

  &__nav {
    margin: auto;

    grid-column: 4 / span 1;
    grid-row: 2 / span 1;
  }

  &__mainImg {
    grid-column: 2 / span 1;
    grid-row: 4 / span 1;
  }

  &__mainContainer {
    grid-column: 4 / span 1;
    grid-row: 4 / span 1;
  }
}
